@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Pardell';
    src: url('assets/fonts/Pardell.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #19191c;
    --secondary-color: #00a6ff;
    --accent-color: #f8f9fa;
    --accent-gray: #555;
    --accent-gray02: #999;
    --accent-pink: #ff69b4;
    --accent-pink-bg: #ffe4ec;
    --accent-pink-light: #ffb9db;
    --accent-blue: #1e90ff;
    --accent-blue01: #bae6fd;
    --accent-green: #28a745;
    --accent-green-light: #bbf7d0;
    --accent-orange: orange;
    --accent-orange-light: #edda8e;
    --accent-border: #ccc;
    --accent-light: #ddd;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    --shadow-sm: 0 0 0 2px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 0 0 6px rgba(122, 122, 122, 0.102);
    --border-style: .1px solid var(--accent-border);
    --radius: 1rem;
    --line-h: 1.6;
    --text-xs: 0.75rem;
    --text-base: 1rem;
    --text-sm: 0.875rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-4xl: 2.25rem;
    --font: 'Pardell';
    --gradient: radial-gradient(120% 80% at 20% 120%, #bae6fd 0%, rgba(255, 255, 255, 0) 80%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

    /* Hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

}


body {
    background-color: var(--accent-color);
    color: var(--primary-color);
    line-height: var(--line-h);

}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: .68rem .95rem;
    font-size: var(--text-base);
    text-decoration: none;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-ghost {
    background: #eee;
    padding: .68rem .95rem;
    color: var(--primary-color);
    border-radius: var(--radius);
    font-size: var(--text-base);
    text-decoration: none;
    box-shadow: var(--shadow);
    border: 1px solid var(--accent-light);
    transition: background-color 0.3s ease-in-out;
}

.btn-ghost:hover {
    background-color: var(--accent-light);
}

.btn:hover {
    background-color: #333;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    gap: 1rem;
    border-radius: var(--radius);
    border: var(--border-style);
    box-shadow: var(--shadow);
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 0.3rem 0.4rem;
    position: absolute;
    top: 1.2rem;
    width: 820px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav_logo a {
    font-size: var(--text-xl);
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Pardell', sans-serif;
    font-weight: 900;
    padding: 6px;
    transition: color 0.3s ease;
}

.nav_logo a:hover {
    color: var(--secondary-color);
}

.nav-toggle {
    display: none;
}


.nav_links {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.nav_links a {
    text-decoration: none;
    padding: 0.35rem 0.95rem;
    transition: color 0.2s ease;
}

.nav-link {
    color: var(--primary-color);
    font-size: var(--text-base);
}

.nav-link:hover {
    color: var(--accent-blue);
}

.nav_links a.btn {
    padding: 0.68rem 0.95rem;
    border-radius: .78rem;
}


.divider-v {
    display: inline-block;
    height: 1.5rem;
    width: 1px;
    background-color: var(--accent-border);
}


@media screen and (max-width: 840px) {
    .nav {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        width: 95%;
    }

    .nav-toggle {
        display: flex;
        cursor: pointer;
    }

    .nav_links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 1rem 0;
    }

    .divider-v {
        display: none;
    }

}



section {
    padding: 12rem;
    margin: 0 auto;
    width: 100%;
}

.heading {
    font-family: var(--font);
    font-size: var(--text-4xl);
    cursor: pointer;
}


@media (max-width: 768px) {
    section {
        padding: 0;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}


.home_content,
.about_content,
.works_content,
.contact_content {
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

    .home_content,
    .about_content,
    .works_content,
    .contact_content {
        width: 100%;
        text-align: center;
    }

}


/* Home Section */

#home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('assets/images/bg/bg01.svg');
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media (max-width:768px) {
    .profile {
        margin-top: 1rem;
    }
}

.profile_photo {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
}

.profile_photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile_name h2 {
    font-size: var(--text-lg);
    font-family: var(--font);
    color: var(--primary-color);
    margin: 0;
}

.profile_name span {
    font-size: var(--text-xs);
    color: var(--accent-blue);
    display: block;
    margin-top: 0.25rem;
    cursor: pointer;
}

.home_content h1 {
    font-size: var(--text-4xl);
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.6;
}

p {
    font-size: var(--text-base);
    color: var(--accent-gray);
    margin-bottom: 2rem;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hero-btn {
    padding: .95rem 2.5rem;
    border-radius: var(--radius);
}

.active-btn {
    padding: .95rem 2.5rem;
    color: var(--accent-green);
    background: var(--accent-green-light);
    border-radius: var(--radius);
}



@media screen and (max-width: 556px) {
    .hero-btn {
        width: 100%;
    }

    .hero-btn-group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


/* About */
#about {
    background: url('assets/images/bg/concrete-wall.png');
}

.about-biography {
    margin-bottom: 6rem;
}

.interest-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-top: 2rem;
    gap: 1rem;
    margin: 0 auto;
}

.interest-cards {
    aspect-ratio: 1;
    border-radius: var(--radius);
    padding: 0.68rem;
    background: var(--accent-color);
    box-shadow: var(--shadow);
    border: 1px solid var(--accent-light);
    transition: transform .4s ease-in-out, box-shadow .3s ease;
    cursor: pointer;
}

.interest-cards:hover {
    position: relative;
    transform: translateY(-6px);
    z-index: 1;
}

.tilt-right {
    rotate: 8deg;
    margin-top: 2rem;
}

.tilt-left {
    rotate: -8deg;
    margin-top: 2rem;
}

.card-content {
    margin-top: calc(25%);
    padding: 12px;
    border-radius: var(--radius);
    font-size: var(--text-sm);
}

#orange {
    background-color: #feeed3;
}

#blue {
    background-color: var(--accent-blue01);
}

#pink {
    background-color: var(--accent-pink-bg);
}

.orange {
    color: var(--accent-orange);
}

.blue {
    color: var(--accent-blue);
}

.pink {
    color: var(--accent-pink);
}

.card-title {
    font-size: var(--text-lg);
    margin-bottom: .2rem;
    font-weight: 700;
}

.title-number {
    font-family: var(--font);
    font-weight: 900;
    font-size: var(--text-xl);
}


.programming-tool {
    margin-top: 6rem;
}

/* education & experience */

.experience_content,
.education_content {
    max-width: 800px;
    margin: 0 auto;
}

.dash {
    display: inline-flex;
    height: .5px;
    width: 1rem;
    vertical-align: middle;
    background-color: var(--accent-gray02);
}

.experience_item,
.education_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-size: var(--text-base);
    color: var(--accent-gray02);
}

.role {
    color: var(--accent-gray);
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: var(--text-sm);
    font-weight: 600;
    border-radius: 6px;
    margin-left: 6px;
    vertical-align: middle;
    text-decoration: none;
}

.green-badge {
    background-color: #e0f7e9;
    color: var(--accent-green);
}

.green-badge:hover {
    background-color: var(--accent-green-light);
}

.pink-badge {
    background-color: var(--accent-pink-bg);
    color: var(--accent-pink);
}

.pink-badge:hover {
    background-color: var(--accent-pink-light);
}

@media (max-width: 768px) {

    .experience_item,
    .education_item {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .badge {
        margin-left: 0;
        margin-top: 4px;
    }
}

/* Works */

.work_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

    gap: 3rem;
    justify-content: center;
    margin: auto 2rem auto 2rem;
}

.project-card {
    border-radius: var(--radius);
    max-width: 600px;
    box-shadow: var(--shadow);
    overflow: hidden;
    cursor: pointer;
    background: var(--gradient), url('assets/images/bg/bg02.svg') center no-repeat;
    background-size: cover;

    box-shadow: var(--shadow-md);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-3px);
}

.project-image {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    transition: filter 0.6s ease-in-out;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image img:hover {
    filter: sepia();
}


.project-link {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--accent-blue01);
    /* background: var(--accent-blue); */
    box-shadow: var(--shadow);
    color: var(--primary-color);
    font-size: var(--text-xs);
    padding: 10px 20px;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1;
}

.project-link:hover {
    background-color: var(--accent-orange-light);
    color: var(--primary-color);
    box-shadow: var(--shadow-md);
}

.project-info {
    padding: 1.2rem 1rem;
}

.project-title {
    font-size: var(--text-lg);
    color: var(--primary-color);
}

.project-description {
    font-size: var(--text-sm);
    color: var(--accent-gray);
    margin: 0.5rem 0 1rem;
    text-overflow: ellipsis;
}

.project-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .4rem;
}

.tech-stack {
    background: var(--accent-color);
    padding: 6px 14px;
    border-radius: .5rem;
    font-size: var(--text-xs);
    cursor: pointer;
    transition: box-shadow 0.4s ease-in-out;
}

.tech-stack:hover,
.tech-stack:focus {
    box-shadow: var(--shadow-sm);
}


/* contact */

.contact-form {
    margin: 0 auto;
    padding: 1.5rem;
    background: var(--accent-color);
    border-radius: var(--radius);
    border: solid 1px var(--accent-light);
    box-shadow: var(--shadow);
    background: var(--gradient);
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.875rem;
    font-size: var(--text-base);
    border: 1.5px solid var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 var(--primary-color);
    outline: none;
    transition: ease 0.25s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 5.5px 7px 0 var(--primary-color);
}

.action-group {
    display: none;
}

@media screen and (max-width: 768px) {
    .action-group {
        margin-top: 1rem;
        margin: 0 auto;
        width: 100%;
        display: block;
        text-align: center;
    }

    .action-group .btn {
        margin-bottom: 1rem;
    }

    .action-group .btn-ghost {
        margin-top: 1rem;
    }

    .contact-form {
        display: none;
        width: 100%;
    }

}